<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Patient Appointment App</title>
  </head>

  <body>
    <h1> Patient Appointment System </h1>

    <form action="/appointment" method="POST">
      <input type="text" placeholder="Name" name="Name" />
      <input type="text" placeholder="Purpose" name="Purpose" />
      <input type="text" placeholder="Date and Time" name="Date and Time" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>